
h1{
    color: green;
    text-align: center;
}
body{
    background-color: black;
}

form{
    text-align: center;
    color: green;
}
p{
    color: greenyellow;
    text-align: center;
}